@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

:root {
    --color-principal: #c73249;
    --color-secundario: #f97060;
    --blanco: rgb(255, 245, 245);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-size: 1.8rem;
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-secundario);
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0 2rem 0;
    background-color: var(--color-principal);
}

.nav-title {
    font-size: 5rem;
    font-family: "Satisfy", cursive;
    user-select: none;
    color: var(--blanco);
}

.nav-links {
    display: flex;
    gap: 4rem;
}

.nav-links a {
    color: var(--blanco);
}

.nav-links a:hover {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-thickness: 0.3rem;
}

.milkshake-catalogue {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-flow: row wrap;
    padding: 6rem 15rem 6rem 15rem;
}

.milkshake-card {
    background-color: var(--blanco);
    padding: 1rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
}

.milkshake-photo {
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/1.jpg");
    width: 20rem;
    height: 20rem;
}
